In [1]:
import pandas as pd
import numpy as np 
import math
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('Tshirt_Sizing_Dataset.csv')

In [25]:
df

    Height (in cms)  Weight (in kgs) T Shirt Size
0               158               58            S
1               158               59            S
2               158               63            S
3               160               59            S
4               160               60            S
5               163               60            S
6               163               61            S
7               160               64            L
8               163               64            L
9               165               61            L
10              165               62            L
11              165               65            L
12              168               62            L
13              168               63            L
14              168               66            L
15              170               63            L
16              170               64            L
17              170               68            L

In [4]:
Y = df['T Shirt Size']

In [5]:
X = df.drop('T Shirt Size',axis = 'columns')
X.head()

   Height (in cms)  Weight (in kgs)
0              158               58
1              158               59
2              158               63
3              160               59
4              160               60

In [30]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.2)

In [31]:
from sklearn.neighbors import KNeighborsClassifier

In [32]:
model = KNeighborsClassifier()

In [33]:
model.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [34]:
y_pred = model.predict(x_test)

In [35]:
from sklearn import metrics

In [36]:
metrics.accuracy_score(y_test,y_pred)

1.0